/* movieDetails.css */

/* Estilos principales de la página */
.movie-details-page {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("background-image.jpg") center center/cover no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* Contenedor principal de detalles con efecto Glassmorphism */
.movie-details-container {
  background: rgba(255, 255, 255, 0.6); /* Fondo translúcido */
  border-radius: 15px;
  padding: 30px 40px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(6px);
}

/* Título de la película */
.movie-title {
  font-size: 2.5rem;
  color: #ffcc00; /* Color brillante para mejorar el contraste */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* Sombra más marcada */
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.movie-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #3b3939;
  font-family: "Roboto", sans-serif;
}

/* Estilo de los botones */
.back-home-btn {
  font-size: 1.1rem;
  color: #3b3939;
  background: transparent;
  border: none;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
}

.back-home-btn:hover {
  background: #ffcc00;
  transform: scale(1.05);
}

.watch-trailer-btn {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(to right, #87ceeb, #ffd700);
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  transition: background 0.3s ease, transform 0.3s ease;
}

.watch-trailer-btn:hover {
  background: #ffcc00;
  color: white;
  transform: scale(1.05);
}

/* Mensaje de carga */
.loading-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #ff5733;
  text-align: center;
}

/* Contenedor de error */
.error-container {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
}

.error-container h2 {
  color: #ff5733;
}

.error-container p {
  margin-bottom: 20px;
  font-size: 1.1rem;
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #87ceeb, #ffd700);
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top: 5px solid #ffcc00;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.5rem;
  color: #ffcc00;
  margin-top: 10px;
  font-weight: bold;
}
